table {
    border-collapse: collapse;
    width: 100%;
}

col {
    width: 33%;
}
tr:hover {
    background: lightblue;
    border-radius: 25px;
}

th, td {
    text-align: left;
    border-bottom: 1px solid rgb(209, 206, 206);
    padding: 6px;
}