<h4>Sign Up</h4>
<br>
<%=flash[:message]%>
<form action="/signup" method="POST">
<label>Username:</label>
<br>
<input type="text" name="user[username]" id="username">
<br><br>
<label>Email:</label>
<br>
<input type="text" name="user[email]" id="email">
<br><br>
<label>Password:</label>
<br>
<input type="password" name="user[password]" id="password">
<br><br>
<button type="submit">Sign Up</button>
</form>