<!DOCTYPE html>

<html>
  <head>

    <title>Picky</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />

  </head>

  <body>
    <div class="wrapper">
    <h1>Picky</h1>
    <ul>
      <li><a href="/signup">Sign Up</a>
      <li><a href="/login">Log In</a>
    </ul>

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2021 <strong>Picky</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </body>
</html>
